.bodyCopy {
  color: rgb(51, 51, 51);
  display: block;
  font-family: georgia, 'times new roman', times, serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 23px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 10px;
  max-width: 540px;
  width: 510px;
}
#chartTitle {
  float: left;
  display: block;
  color: rgb(51, 51, 51);
  font-family: arial;
  font-style: normal;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 300;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 25px;
  width: 80%;

  font-family: "nyt-franklin",arial,helvetica,sans-serif;
 
}

.chartArea {
	width: 1000px; 
	height: 1000px;
	margin-top:0px;
}


.titleLineBreak {
  float: left;
  display: block;
  height: 1px;
  background: #D3D3D3;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 8px;
  width: 80%;
}

#dateLine {
  float: left;
  display: block;
  font-size: 0.6875rem;
  line-height: 0.75rem;
  font-weight: 300;
  font-family: arial;
  color: #000;
  line-height: 14px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
}
#chartSource {
  float: left;
  display: block;
  color: rgb(153, 153, 153);
  display: block;
  font-family: arial;
  font-size: 12px;
  font-weight: 300;
  height: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
}
#socialLinks {
  float: left;
  display: inline;
  width: 10%;
  margin-bottom: 15px;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 15px;
}

#pullquote, #pq-picquote-dialog {
  background: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.498039) 1px 1px 4px;
  display: none;
  left: 0px;
  padding: 5px;
  position: absolute;
  top: 0px;
  z-index: 654321;
  white-space: nowrap;
}

#pullquote, #pullquote *, #pq-help, #pq-notification, #pq-overlay, #pq-overlay *, #pq-overlay-quote *, #pq-comment *, #pq-picquote-icon, #pq-picquote-overlay, #pq-picquote-board, #pq-picquote-board *, #pq-picquote-dialog, #pq-picquote-dialog * {
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  display: inline-block;
  height: auto;
  width: auto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, 'Arial CE', Arial, serif;
  text-indent: 0px;
  vertical-align: baseline;
  text-align: left;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}

#upShotNamePlate {
  display: inline-block;
  height: 52px;
  width: 315px;
  text-indent: -9999px;
  margin: 20px 0 20px;
  background: url("http://graphics8.nytimes.com/packages/images/nytint/projects/upshot/logo_sf.png") no-repeat;
  background-size: contain;
}


#mastheadLineBreak {
  display: block;
  float: left;
  height: 1px;
  background: #000000;
  margin-bottom: 0px;
  margin-left: 200px;
  margin-right: 0px;
  margin-top: 10px;
  width: 80%;
}

.storyBody {
  font-size: 16px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.4375rem;
  font-weight: 400;
  font-family: georgia,"times new roman",times,serif;
  width: 532px;
  margin-left: 135px;
}
}
 